{% extends "base.html" %} {% import "bootstrap/form.html" as wtf %} {% block
content %}

<div
  class="container d-flex align-items-center justify-content-center"
  style="margin-top: 150px"
>
  <div class="card text-center">
    <div class="card-body">
      <h1 class="card-title">Error</h1>
      <p class="card-text">Sorry, we cannot find what you are looking for.</p>
      <a href="{{ url_for('main.index') }}" class="btn btn-primary"
        >Return to Homepage</a
      >
    </div>
  </div>
</div>

{% endblock %}
